body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lobster', arial;
}

h1 {
    width: 100%;
    margin-bottom: 2em;
    font-family: 'Lobster', arial;
    text-align: center;
}

header{
  margin-top: 0em;
      height: 5.5em; 
      background:white;
      border-bottom: 1px solid black;
  }
  
.logo_site{
    width: 11em;
    height: 5em;
    margin-left: 1em;
}

.search{
    float: right;
    display: flex;  
}

.menu{
    display: none;
}

/*=======Section  index ================*/
.img_fond{
    opacity: 0.4;
    position: absolute;
    z-index: -1;
}

#conteneur{
    background-size:100%;
    margin-top: 0em;
    padding: 0em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

 #vCam0 , #vCam1 ,#vCam2 , #vCam3, #vCam4{
    width: 25%;
    border: 1px solid black;
    background: rgb(238, 238, 238);
    margin-bottom: 2em;
    padding-bottom: 0.5em;
    box-shadow: 10px 10px 5px rgba(75, 75, 75, 0.7);
    border-radius: 0.4em;
}

h2 {
    height: 0.5em;
    margin-top: 0.2em;
    font-size: 1em;
    text-align: center;
}

img{
    width: 100%;  
}

article{
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-bottom: 1em;
}

price{
    padding: 0.2em;
    margin-left: 1em;
}


/*======== page produit ==========*/
#conteneur_produit{
    width: 90%;
    margin-top: 0em;
    padding: 0.5em;
}

.img_fond_produit{
    width: 99%;
    height: 85%;
    opacity:0.4;
    position: absolute;
    z-index: -1;
}

#title{
    width: 25%;
    height: 1.5em;
    margin-left: 45%; 
    font-size: 2em;
}

#img_produit{
    margin-top: 2em;
    width: 40%;
    height: 20em;
    float: left;
    margin-left: 10em;
}

#image_produit{
    width: 100%;
    height: 20.5em;
    box-shadow: 15px 15px 5px rgba(75, 75, 75, 0.7);
    border-radius: 0.5em;
}

#description_produit{
    padding-top: 1em;
    margin-top: 4em;
    width: 20%;
    height: 7em;
    background-color: white;
    margin-left: 65%;  
    box-shadow: 15px 15px 5px rgba(75, 75, 75, 0.7);
    border-radius: 0.5em;
    border: 1px solid grey; 
}

#choix_option{
    margin-top: 20em;
    margin-left: 59%;
    position: absolute;
    z-index: 1;
    box-shadow: 5px 5px 5px rgba(75, 75, 75, 0.7);
    border-radius: 0.2em;
    border: 1px solid grey; 
}

#prix_produit{
    background-color: white;
    margin-top: -7em;
    margin-left: 59%; 
    position: absolute;
    box-shadow: 15px 15px 5px rgba(75, 75, 75, 0.7);
    border-radius: 0.2em;
    border: 1px solid grey; 
}

#button{
    width: 20em;
    height: 4em;
    border-radius: 0.5em;
    margin-left: 65%;
    margin-top: 0em;
    text-decoration: none;
    font-size: 0.9em;
    box-shadow: 15px 15px 5px rgba(75, 75, 75, 0.7);
}

/*===================page panier ==============*/

.page_panier{
    background: rgb(240, 240, 240);
}

.titre_detail_panier{
    width: 20%;
}

#titreRecap{
    width: 100%;
    margin-left: 0em;
}

#div_titre{
    background:blue;
}

#commande_panier{
    background:rgb(240, 240, 240);
    margin-top: 2em; 
    margin-left: 0.5em;
    margin-right: 0.5em; 
    padding-top: 1em;
    padding-bottom: 1em;
}

#description_produit_panier{
    width: 100%;
    padding-left: 2em;
}

.div_article{
    width: 60%;
    height: 7em;
    border-radius: 1em;
    background: white;
    margin: 1em 1em 0em 1em;
    display: flex;
    border: 1px solid rgba(161, 160, 160, 0.7);
    box-shadow: 5px 5px 5px rgba(161, 160, 160, 0.7);
}

#div_delete{
    padding: 0em;
    margin-top: 0.2em;
    text-decoration: none;
    font-size: 0.7em;
    float: left;
    border: none;
    border-bottom: 1px solid black;
    background: rgb(250, 250, 250);
}

#article_image{
    width: 20%;
    height: 5em;
    margin: 1em 0em 1em 2em;
    border: 1px solid black;
}

#image_panier{  
    width: 15%;
    height: 5em;
    margin: 1em 0em 1em 1em;
}

#div_title{
    width: 50%;
    height: 5em;
    margin: 1em 0em 0.5em 2em;
    border: 1px solid black;
}

.price_produit{ 
    width: 40%;
    float: right;
    margin: 0em 2em 0em 0em; 
    text-align: right;
}

#message_panier_vide{
    width:100%;
    font-size:2em;
    text-align: center;
}

#message_aucune_commande{
    width:100%;
    font-size:2em;
    text-align: center;
}
/*////////// page panier parti recap ////////////*/

#asideRecap{
    float: right;
    border-radius: 1em;
    background: white;
    width: 35%;
    height: 10em;
    margin-right: 1em;
    border: 1px solid rgba(161, 160, 160, 0.7);
    box-shadow: 5px 5px 5px rgba(161, 160, 160, 0.7);
}

#nbTotalArticle{
    color: red;
}

#recap{
    height: 10em;
}

#commande{
  display: block;
  margin: auto; 
}

#totalPrice{
    padding-top: 1em;
    height: 5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;   
}

#nom_produit_panier {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

/*=========== formulaire============*/
#formulaire_commande{
    border-radius: 1em;
    background: white;
    height: 16em;
    display: none;
    padding: 0.1em 1em 0em 1em;
    border: 1px solid rgba(161, 160, 160, 0.7);
    box-shadow: 5px 5px 5px rgba(161, 160, 160, 0.7);
}

#close_formulaire{
    width: 1.2em;
    height: 1.2em;
    background:rgba(196, 7, 7, 0.671);
    padding-left: 0.1em;
    padding-bottom: 1em;
    float: right;
    border-radius: 0.2em;
}

#div_input_ville,#div_input_address,#div_input,#div_input_mail{
    margin-bottom: 1em;
}

#nom{
    float: right;
    width: 7em;   
    position: absolute;
}

#prenom{
    width: 6em;
    margin-right: 2em;  
}

#adresse{
    width: 20em;
}

#ville{
    width: 7em;
    margin-right:0em;
}

#code_postal{
    width: 3em;
    margin-right: 2em;
}

#envoi{
    display: block;
    margin: auto;
}

/* ============== page confirmation==========*/
#div_confirmation{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10em;
    padding: 0.5em;
    background: rgb(240, 240, 240);
    text-align: center;
    border-radius: 0.5em;
}

.texte_confirmation{
    font-size: 1.3em;
}

/* =============== menu ===========*/

.bloc_detail_liens {
    background:white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.5em;
    list-style: none;
    position: relative;
    display: flex;
    float: left;
}

.liens{
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;
    width: 1.5em;
    height: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 1.15em;
}

.liste_menu{
    float: right;
    margin-top: 1em;
    margin-right: 2em;
    padding: 0em;
    padding-top: 0.7em;
    border: 1px solid black;
    width: 2.4em;
    height: 1.7em;
    border-radius: 0.5em;
    position: relative;
    list-style: none;
}
   
    #menu_accueil , #menu_commande, #menu_panier {
      margin-bottom: 0.4em;
      margin-left: auto;
      margin-right: auto;
       }
    
    .entete ul li a, .entete_produit ul li a{
    text-decoration : none;
    color: black;
    }
   
    .entete ul ul { 
    width: 17em;
    height: 1em;
    position: absolute;
    margin-left: -15em;
    margin-top: -0.5em;
    visibility: hidden;
    border-top-left-radius: 0.5em;
    background: rgb(248, 248, 248)
    }

    .entete_produit ul ul { 
        width: 22em;
        height: 1em;
        position: absolute;
        margin-left: -20.1em;
        margin-top: -0.5em;
        visibility: hidden;
    }
 
    .entete ul:hover ul , .entete_produit ul:hover ul{
    visibility: visible;
    }

    .liste_menu:hover { 
        border-bottom: 5em;    
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .entete ul li a:hover,.entete_produit ul li a:hover{
        color:rgb(63, 63, 248);
        font-weight:bold;
        text-decoration: underline;
    }
/*============ infobulle panier =================*/
    .bulle_panier{
        width:5em;
        visibility: hidden;
        position:absolute;
        margin-left:-5em;
        z-index:2;
    }
    #menu_panier{
        height:1em;
    }

    #menu_panier:hover .bulle_panier{
        width:9em;
        padding:0.5em;
        border-radius:0.5em;
        background:rgb(248,248,248);
        visibility: visible;
        position:relative;
    }

    .bulle_panier::after  {
        content: "";
        position: absolute;
        margin-top:-3.7em;
        margin-left: 4em;
        border-width: 0.5em;
        border-style: solid;
        border-color: transparent transparent rgb(248, 248, 248) transparent;
    }
    /*============ infobulle commande =================*/
    .bulle_commande{
        width:5em;
        visibility: hidden;
        position:absolute;
       /* margin-left:-5em;*/
        z-index:2;
    }

    #menu_commande:hover .bulle_commande{
        width:6em;
        padding:0.5em;
        border-radius:0.5em;
        background:rgb(248,248,248);
        visibility: visible;
        position:relative;
    }

    .bulle_commande::after  {
        content: "";
        position: absolute;
        margin-top:-3.7em;
        margin-left: 0em;
        border-width: 0.5em;
        border-style: solid;
        border-color: transparent transparent rgb(248, 248, 248) transparent;
    }


   /*====pop_up produit ====**/

   #pop_up{
       width: 40%;
       height: 5em;
       background:white;
       border-radius: 0.5em;
       padding-top: 1em;
       position: absolute;
       z-index: 1;
       margin: 12em 15em 0em 18em;
       display: none;
       border: 1px solid black;
       border:1px solid rgba(161, 160, 160, 0.7);
       box-shadow: 5px 5px 5px rgba(161, 160, 160, 0.7);
   }

    #divText{
        width:100%;
        text-align: center;
    }

    #div_btn{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 1em;
    }

   #btn_retour_accueil{
      border-radius: 0.5em;
      background:rgb(199, 178, 195);
   }

   #btn_finish{
    border-radius: 0.5em;
    background:rgb(199, 178, 195);
 }

/*=================fin pop up=======================*/

@media screen and (min-width:349px) and (max-width:600px){

    /* ===============menu ===========*/
    .bloc_detail_liens {
        display: flex;
        flex-direction: column;
    }

    .entete ul ul , .entete_produit ul ul{ 
    width: 10em;
    height: 4em;
    padding-top: 1em;
    margin-left: -6em;
    z-index:1;
    }

    /* page d'accueil*/

    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #conteneur{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    nav{
        display: none;
    }

    #vCam0,#vCam1,#vCam2,#vCam3,#vCam4{
        margin: 1em;
        width: 89%;
    }

    /*page produit*/
    .page_produit{
        width:95%;
    }

    #conteneur_produit{
        width: 95%;
        padding-left: 0.5em;
    }

    #title{
        width:60%;
        margin-left: auto;
        margin-right: auto;
    }

    #img_produit{
        width: 100%;
        margin-left: 0.5em;
    }

    #prix_produit{
        margin-left: 75%;
        margin-top: 1.5em;
    }

    #choix_option{
        height:2em;
        margin-left: 1em;
        margin-top: 34em;
    }

    #description_produit{
        display: none;
    }

    #button{
        margin-left:8%;
        margin-top: 6em;
        margin-bottom: 6em;
    }

    #pop_up{
        width: 95%;
        margin-left: 0em;
        margin-right: 0em; 
        border:1px solid rgba(161, 160, 160, 0.7);
        box-shadow: 5px 5px 5px rgba(161, 160, 160, 0.7);
    }

    #div_btn{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 1em;
    }

    /*page panier*/

    #commande_panier{
        display: flex;
        flex-direction: column;
        padding-right: 2em;
    }
    
    .div_article{
        width: 100%;
        height: 8em;
    }

    #asideRecap{
        position: absolute;
        width: 88%;
        margin-left: 1em;
    }

    .titre_detail_panier{
        width: 100%;
        padding-left: 1.5em;
        text-align: left;
        margin-top: 11.5em;
    }  
    
    #recap{
        width: 100%;
        margin-right: 2em;
    }
    
    #formulaire_commande{
        width: 89%; 
        margin-bottom: 15em;
    }

    #prenom{
        margin-right: 0.5em;
    }

    #nom{
        width: 5em;
        
    }

    #code_postal{
        width:3em;
        margin-right: 0.5em;
    }

    #ville{
        width: 5em;
    }
    
    #image_panier{
        margin-top: 2em;
        width: 4em;
        height: 4em;
    }

    #description_produit_panier{
        padding-left: 0.5em;
    }
    
    .price_produit{
        width:60%;
    }

    /*page confirmation*/

    #div_confirmation{
        width:88%;
        margin-left:1em;
        margin-right:1em;
    }
    /*============ infobulle panier =================*/
    .bulle_panier{
        margin-left:-11em;
        margin-top:-2em;
        z-index:0;
    }

    #menu_panier:hover .bulle_panier{
        border : 1px solid black;
    }

    .bulle_panier::after  {
        margin-top:-1.8em;
        margin-left: 6.5em;
        border-color: transparent  transparent  transparent black;
    }
    /*============ infobulle commande =================*/
    .bulle_commande{
        margin-left:-8em;
        margin-top:-1.5em; 
        z-index:2; 
    }
   
    #menu_commande:hover .bulle_commande{
        border : 1px solid black;
    }

    .bulle_commande::after  {
        margin-top:-2.2em;
        margin-left: 2.4em;
        border-color: transparent transparent  transparent black;
    }

}
@media screen and ( min-width:410px)and (max-width:600px){
  
    #button{
        margin-left:12%;
    }
    .price_produit{
        margin-top:1em;
    }
}

@media screen and ( min-width:601px)and (max-width:900px){

    /*page accueil*/
    #vCam0,#vCam1,#vCam2,#vCam3,#vCam4{
        margin: 1em;
        width: 40%;
    }

    .bloc_detail_liens {
        border-radius: 0.5em;
        background:white;
        padding-top: 0.5em;
        padding-left: 0.5em;
        width: 9em;
        list-style: none;
        position: relative
    }

    /*page produit*/
    
    .page_produit{
        width:100%;
    }

    #conteneur_produit{
        padding-left: 0.5em;
    }

    #title{
        width:60%;
        margin-left: auto;
        margin-right: auto;
    }

    #img_produit{
        width: 80%;
        margin-left: 12%;
    }

    #prix_produit{
        margin-left: 6em;
        margin-top: 6em;
    }

    #choix_option{
        height:2em;
        margin-left: 6em;
        margin-top: 36em;
    }

    #description_produit{
        display: none;
    }

    #button{
        margin-left:45%;
        margin-top: 4em;
        margin-bottom: 6em;
    }

    #pop_up{
        width: 95%;
        margin-left: 0em;
        margin-right: 0em;
        
        border:1px solid rgba(161, 160, 160, 0.7);
        box-shadow: 5px 5px 5px rgba(161, 160, 160, 0.7);
    }

    #div_btn{
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 1em;
    }

    /*page panier*/

    #commande_panier{
        display: flex;
        flex-direction: column;
        padding-right: 2em;
    }

    .div_article{
        width: 100%;
        height: 10em;
    }

    #asideRecap{
        position: absolute;
        width: 93%;
        margin-left: 1em;
    }

    .titre_detail_panier{
        width: 100%;
        padding-left: 1.5em;
        text-align: left;
        margin-top: 11.5em;
    } 
   
    #recap{
        width:100%;
        margin-right: 2em;
    }

    #formulaire_commande{
        width: 95.5%;
        margin-bottom: 15em;
        border:1px solid rgba(161, 160, 160, 0.7);
        box-shadow: 5px 5px 5px rgba(161, 160, 160, 0.7);
    }

    #image_panier{
        margin-top: 2em;
        width: 10em;
        height: 6em;
    }

    #description_produit_panier{
        padding-left: 2.5em;
    }

    .price_produit{
        margin-top:2em;   
    }

    #nom_produit_panier{
        margin-top:2em;
    }
    
    /* section formulaire*/
    #titre_formulaire{
        text-align: center;
        text-decoration: underline;
    }
    #div_input, #div_input_address,#div_input_ville,#div_input_mail{
        margin-left:7em;
    }

    #nom, #prenom, #ville{
        width:10em;
    }

    #adresse{
        width:25.5em;
    }

    #code_postal{
        width:7.5em;
    }

    #mail{
        width:26.4em;
    }

/* page confirmation */
    #div_confirmation{
        width:90%;
        margin:5em 3em 0em 1em;
    }  
}

